@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.content {
    position: relative;
    height: 400px;
    width: 750px;
    overflow: hidden;
}

.content .images {
    width: 100%;
    height: 100%;
}

.content .btm-sliders {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.btm-sliders span {
    height: 15px;
    border: 2px solid #fff;
    width: 50px;
    margin: 0 3px;
    cursor: pointer;
}


.content .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.content .slide:hover {
    background: rgba(255, 255, 255, 0.2);
}

.slide span {
    font-size: 35px;
    color: #fff;
    line-height: 41px;
}



.content .right {
    right: 0;
}